<div class="${baseClass}">

    <h4>${editorLabel}</h4>

    <ul class="controlsList list-inline">

        <li class="leftHandControls"
            data-dojo-attach-point="leftHandControlsLI">
            <label>${leftHandControlsLabel}</label>
            <div data-dojo-attach-point="leftHandControls" ></div>
        </li>

        <li class="rightHandControls"
            data-dojo-attach-point="rightHandControlsLI">
            <label>${rightHandControlsLabel}</label>
            <div data-dojo-attach-point="rightHandControls"></div>
        </li>

    </ul>

</div>