<div data-dojo-attach-point="colorPickerNode"
        class="colorPickerDijit">

    <div data-dojo-type="dijit/form/DropDownButton"
            data-dojo-attach-point="colorPickerDropdown" >
        <div>
            ${i18n.widgets.colorPicker.label}
        </div>
        <div data-dojo-type="dijit/TooltipDialog">
            <div data-dojo-type="dojox/widget/ColorPicker"
                    data-dojo-attach-point="colorPickerDijit"
                    data-dojo-attach-event="onChange:_onColorPickerChange"
                    data-dojo-props="value:'${color}'"></div>
        </div>
    </div>

    <div data-dojo-attach-point="colorSwatchNode"
            class="colorSwatch"></div>
</div>