<div class="${baseClass}">

    <div data-dojo-attach-point="stackContainerNode"
         data-dojo-type="dijit/layout/StackContainer"
         data-dojo-props="doLayout:false">

        <!--<div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-attach-point="smsEditorNode"></div>

        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-attach-point="slsEditorNode"></div>

        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-attach-point="sfsEditorNode"></div>-->

    </div>

</div>