<div class="fillStylePickerDijit">

    <select type="select"
           data-dojo-type="dijit/form/Select"
           data-dojo-props="class: 'dijitSelect',sortByLabel:false"
           data-dojo-attach-point="selectDijit"
           data-dojo-attach-event="onChange:_onSelectDijitChange" >

        <option value="esriSFSSolid">Solid</option>
        <option value="esriSFSBackwardDiagonal">Backward Diagonal</option>
        <option value="esriSFSCross">Cross</option>
        <option value="esriSFSDiagonalCross">Diagonal Cross</option>
        <option value="esriSFSForwardDiagonal">Backward Diagonal Cross</option>
        <option value="esriSFSHorizontal">Horizontal</option>
        <option value="esriSFSVertical">Vertical</option>
        <option value="esriSFSNull">None</option>

    </select>

</div>