<div class="lineStylePickerDijit">

    <select type="select"
           data-dojo-type="dijit/form/Select"
           data-dojo-props="class: 'dijitSelect',sortByLabel:false"
           data-dojo-attach-point="selectDijit"
           data-dojo-attach-event="onChange:_onSelectDijitChange" >

        <option value="esriSLSSolid">Solid</option>
        <option value="esriSLSDash">Dashed</option>
        <option value="esriSLSDashDot">Dash Dot</option>
        <option value="esriSLSDashDotDot">Dash Dot Dot</option>
        <option value="esriSLSDot">Dotted</option>
        <option value="esriSLSNull">None</option>

    </select>

</div>