<div class="markerStylePickerDijit">

    <select type="select"
           data-dojo-type="dijit/form/Select"
           data-dojo-props="class: 'dijitSelect',sortByLabel:false"
           data-dojo-attach-point="selectDijit"
           data-dojo-attach-event="onChange:_onSelectDijitChange" >

        <option value="esriSMSCircle">Circle</option>
        <option value="esriSMSCross">Cross</option>
        <option value="esriSMSDiamond">Diamond</option>
        <option value="esriSMSSquare">Square</option>
        <option value="esriSMSX">X</option>
        <option value="esriSMSTriangle">Triangle</option>

    </select>

</div>