<div class="AdvancedDrawWidget" role="presentation">
    
    <!-- a stack container layout -->
    <div data-dojo-attach-point="stackNode" data-dojo-type="dijit/layout/StackContainer" data-dojo-props="doLayout:false">
        

        <div data-dojo-attach-point="defaultPane" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="doLayout:false">

            <!-- the main draw tab -->
            <div data-dojo-attach-point="drawTab" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title: '${i18n.draw}'">

                <!-- control bar -->
                <div class="drawTools">
                    <button data-dojo-type="dijit/form/Button" data-dojo-props="title: '${i18n.undo}'">${i18n.undo}</button>
                    <button data-dojo-type="dijit/form/Button" data-dojo-props="title: '${i18n.redo}'">${i18n.redo}</button>
                    <button data-dojo-attach-point="snappingToggleNode" data-dojo-type="dijit/form/ToggleButton" data-dojo-props="iconClass: 'fa fa-check iconFixedWidth', checked: true" data-dojo-attach-event="change: _toggleSnapping">Snapping</button>
                </div>

                <!-- the draw combo and cancel buttons -->
                <div data-dojo-attach-point="drawButtonNode" data-dojo-type="dijit/form/ComboButton" data-dojo-props="autoWidth: false">
                    <span>${i18n.point}</span>
                </div>
                <button data-dojo-attach-point="cancelButtonNode" data-dojo-type="dijit/form/Button" data-dojo-props="disabled: true" data-dojo-attach-event="click: _drawCancel">${i18n.cancel}</button>

                <!-- active draw tool -->
                <div class="drawStatus"><b>${i18n.activeDrawTool}</b>&nbsp;<span data-dojo-attach-point="drawStatusNode">${i18n.none}</span></div>
            </div>
        </div>

        <div data-dojo-attach-point="testNode"></div>

        <!-- additional programmatic panes here -->

    </div>
<div>
