<div class="AdvancedDrawWidget" role="presentation">
    
    <!-- a stack container layout -->
    <div data-dojo-attach-point="stackNode" data-dojo-type="dijit/layout/StackContainer" data-dojo-props="doLayout:false">
        

        <div data-dojo-attach-point="defaultPane" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="doLayout:false">

            <!-- the main draw tab -->
            <div data-dojo-attach-point="drawTab" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title: 'Draw'">

                <!-- control bar -->
                <div class="drawTools">
                    <button data-dojo-type="dijit/form/Button" data-dojo-props="title: 'Undo'">Undo</button>
                    <button data-dojo-type="dijit/form/Button" data-dojo-props="title: 'Redo'">Redo</button>
                </div>

                <!-- the draw combo and cancel buttons -->
                <div data-dojo-attach-point="drawButtonNode" data-dojo-type="dijit/form/ComboButton" data-dojo-props="autoWidth: false">
                    <span>Point</span>
                </div>
                <button data-dojo-type="dijit/form/Button" data-dojo-props="disabled: true">Cancel</button>

                <!-- messages for the user -->
                <div data-dojo-attach-point="drawStatusNode" class="drawStatus"><b>Active Draw Tool:</b> None</div>
            </div>
<!--
            <div data-dojo-attach-point="settingsTab" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="title: 'Settings', nested: true, doLayout:false">
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title: 'Options'">
                    Draw Options
                </div>
                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title: 'Options'">
                    Draw Options
                </div>
            </div>

            <div data-dojo-attach-point="importExportTab" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title: 'Import/Export'">
                Import
            </div>

            <div data-dojo-attach-point="helpTab" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title: 'Help'">
                Help
            </div>
-->
        </div>

        <!-- additional programmatic panes here -->

    </div>
<div>
