.colorPickerDijit {

}

.colorPickerDijit .dijitButtonText {
    padding-left: 20px;
}

.colorPickerDijit .colorSwatch {
    height: 14px;
    width: 14px;
    display: inline-block;
    position: relative;
    left: -84px;
    top: 4px;
}