#graphicSymbolEditor {

}

#graphicSymbolEditor #graphicSymbolEditorActionBar {
    text-align: right;
}

#graphicSymbolEditor_underlay {
    display: none;
}

#graphicSymbolEditor .dijitDialogCloseIcon {
    display: none !important;
}