.colorPicker {
    margin-top: 3px;
}

.colorPicker .dijitButtonText {
    padding-left: 20px;
}

.colorPicker .colorSwatch {
    height: 14px;
    width: 14px;
    position: relative;
    left: 10px;
    top: -22px;
}

.colorPicker .colorPickerDropdown {
    margin-bottom: -15px;
}


.colorPicker .colorPickerSlider {
    padding-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

/* claro overrides */

.dijitAccordionTitle, .dijitAccordionTitleHover {
    background-color: #efefef !important;
    padding-bottom: 3px;
    border-color: #efefef !important;
}

.dijitAccordionInnerContainerSelected, .dijitAccordionInnerContainerHover {
    background-color: inherit !important;
    border-color: #B5BCC7 !important;
}