.colorPicker {
    margin-top: 3px;
}

.colorPickerCloseIcon {
    background: url('../assets/dialogCloseIcon.png');
    background-repeat: no-repeat;
    position: absolute;
    right: 15px;
    top: 30px;
    height: 15px;
    width: 21px;
    cursor: pointer;
}

.colorPickerCloseIcon:hover {
    background-position: -21px;
}

.colorPicker .dijitButtonText {
    padding-left: 20px;
}

.colorPicker .colorSwatch {
    height: 14px;
    width: 14px;
    position: relative;
    left: 10px;
    top: -22px;
}

.colorPicker .colorPickerDropdown {
    margin-bottom: -15px;
}


.colorPicker .colorPickerSlider {
    padding-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

/* claro overrides */

.dijitAccordionTitle, .dijitAccordionTitleHover {
    background-color: #efefef !important;
    padding-bottom: 3px;
    border-color: #efefef !important;
}

.dijitAccordionInnerContainerSelected, .dijitAccordionInnerContainerHover {
    background-color: inherit !important;
    border-color: #B5BCC7 !important;
}