/* base class */
.AdvancedDrawWidget {}

/* dijit icons */
.AdvancedDrawWidget .dijitIcon {
    font-family: FontAwesome;
}
.AdvancedDrawWidget .iconFixedWidth {
    width: 1.3em;
}

/* main draw pane */
.AdvancedDrawWidget .stackPane {
    padding: 2px;
}
.AdvancedDrawWidget .drawToolbar {
    margin-bottom: 10px;
    padding: 2px 4px;
    border: 1px solid #B5BCC7;
}
.AdvancedDrawWidget .drawStatus {
    margin: 10px 0;
}
.AdvancedDrawWidget .drawToolsBottom {
    margin-top: 10px;
}

/* text tooltip dialog */
.AdvancedDrawTextTooltipDialog .dijitTooltipContainer {
    padding: 10px;
}
.AdvancedDrawTextTooltipDialog .textTooltipInput {
    margin-bottom: 10px;
    font-size: 110%;
}
.AdvancedDrawTextTooltipDialog .textTooltipButtons {
    text-align: center;
}
