.AdvancedDrawWidget {}

.AdvancedDrawWidget .toolbar {
    border: 1px solid #B5BCC7;
    padding: 2px 4px;
}

.AdvancedDrawWidget .dijitIcon {
    font-size: 16px;
    font-family: FontAwesome !important;
}

.AdvancedDrawWidget .drawStatus {
    margin: 10px 0;
}